<?xml version="1.0"?>

<model>
  <name>Blue nao robot v4</name>
  <version>1.0</version>
  <sdf version="1.5">nao_simple_shapes.sdf</sdf>

  <author>
    <name>Carlos Agüero</name>
    <email>caguero@osrfoundation.org</email>
  </author>

  <description>
    A model of the Nao.
  </description>

</model>
