<?xml version="1.0"?>

<model>
  <name>Task 2 gif</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Ian Chen</name>
    <email>ichen@osrfoundation.org</email>
  </author>

  <author>
    <name>Louise</name>
    <email>louise@osrfoundation.org</email>
  </author>

  <description>
    Task 2
  </description>
</model>
